{% for group in model.init -%}
{% for statement in group -%}
{{ statement }}
{% endfor %}
{% endfor %}
def init():
    {%- for statement in model.setup.independent %}
    {{ statement }}
    {%- endfor %}


def run({% for dependee in model.setup.dependees -%}
            {{ dependee.generated_reference }}
            {%- if loop.index != model.setup.dependees|length %}, {% endif -%}
            {% endfor -%}
        ):
    {%- for action in model.actions %}
    {% if action.generated_actor is not none -%}
        {{ action.generated_actor }}.{{ action.generated_name }}
    {%- else -%}
        {{ action.generated_name }}
    {%- endif %}(
        {%- for param in action.parameters -%}
            {{ param.generated_name }}={{ param.value_representation|safe }}
            {%- if loop.index != model.actions|length %}, {% endif -%}
        {% endfor -%}
    ){% endfor %}


if __name__ == '__main__':
    init()

    {% for dependee in model.setup.dependees -%}
        {{ dependee.generated_reference }} = {{ dependee.initializer }}
    {%- endfor %}

    run({% for dependee in model.setup.dependees -%}
        {{ dependee.generated_reference }}{% if loop.index != model.setup.dependees|length %}, {% endif -%}
    {% endfor %})

    return
