uvicorn
fastapi
requests
validators
sqlalchemy[asyncio]
alembic
asyncpg
greenlet
bson
psycopg
psycopg2
Jinja2
pytest
pytest-randomly
pytest-postgresql
pytest-asyncio
python-multipart
pandas
openpyxl
httpx
sqlalchemy-diff
lxml
